@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"].</h1>
<div>
    <p style="font-family:IranNastaliq;font-size:xx-large">

        گذرواژه شما با موفقیت بازنشانی شد! لطفا <a asp-controller="Account" asp-action="Login">جهت ورود به پایگاه کلیک نمائید</a>.
    </p>

</div>
