@{
    ViewData["Title"] = "خطا";
}

<h1 style="text-align:center" class="text-danger">.خطایی رخ داده است</h1>
 
 <p style="text-align:center">
     <strong>.سایت در حال بروز رسانی می باشد</strong> 
</p>
<p style="text-align:center">
    <strong>.لطفا مجدد سعی نمایید</strong>
</p>
