@model GlarinWood.Models.PicCollectionGallery

@{
    ViewData["Title"] = "حذف";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>حذف</h2>

<h3>آیا از حذف این آیتم اطمینان دارید؟</h3>
<div>
    <h4>گالری عکس ها</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Image)*@
            <img src="~/metro/img/PicGallery/@item.Image" style="width:200px;height:200px;" alt="PicGallery" />

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PicGallery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PicGallery.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-primary">بازگشت به لیست</a>
        </div>
    </form>
</div>
