@model GlarinWood.Models.PicCollectionGallery

@{
    ViewData["Title"] = "جزئیات";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>جزئیات</h2>

<div>
    <h4>گالری عکس ها</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Image)*@
            <img src="~/metro/img/PicGallery/@Model.Image" style="width:200px;height:200px;" alt="PicGallery" />

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PicGallery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PicGallery.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">ویرایش</a> |
    <a asp-action="Index" class="btn btn-primary">بازگشت به لیست</a>
</div>
