
 @model GlarinWood.Models.CheckoutViewModel.CheckoutViewModel
    @{
        ViewData["Title"] = "سفارشات";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
 
        <!-- Checkout Page Area Start Here -->
    <div class="checkout-page-area" style="direction:rtl">
        <div class="container">
            <div class="row">
                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="checkout-page-top">
                        <p><i class="fa fa-check" aria-hidden="true"></i><a href="check-out.html#"> Returning customer? Click here to login</a></p>
                    </div>
                </div>*@
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                    <div class="checkout-page-top" style="background-color:greenyellow" >
                        <p><i class="fa fa-check" aria-hidden="true"></i><a >لطفا جهت پیگیری خرید خود، مشخصات را صحیح وارد نمائید.</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12" style="">
                    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12" style="float:right">
                        <div class="">
                            <h2 class="cart-area-title">مشخصات جهت ثبت سفارش</h2>
                            <form id="checkout-form" asp-action="Checkout" dir="rtl"  >@*asp-action="Create"*@
                                <hr/>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @*@Html.ValidationSummary("", new { @class = "text-error" })*@
                                @*@Html.ValidationSummary(true)*@

                                <div class="row">
                                    <!-- last Name -->
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label asp-for="LastName" class="control-label"></label>
                                            <input asp- asp-for="LastName" placeholder="نام خانوادگی" tabindex="2"   id="last-name" class="form-control">
                                            <span asp-validation-for="LastName" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <!-- First Name -->
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label asp-for="FirstName" class="control-label"  ></label>
                                            <input asp-for="FirstName" placeholder="نام" tabindex="1"   id="first-name" class="form-control">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>

                                        </div>
                                    </div>
                                
                                </div>
                                   @*<div class="row">*@
                                    <!-- Company Name -->
                                    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" for="company-name">Company Name</label>
                                            <input type="text" id="company-name" class="form-control">
                                        </div>
                                    </div>
                                </div>*@
                         
                                <div class="row">
                                    <!-- Email -->
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input tabindex="4" placeholder="example@info.com"   asp-for="Email" id="email" class="form-control">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <!-- Phone -->
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label asp-for="Phone" class="control-label" for="first-name"></label>
                                            <input asp-for="Phone" placeholder="09012345678" tabindex="3"   id="phone" class="form-control">
                                            <span asp-validation-for="Phone" class="text-danger"></span>

                                        </div>
                                    </div>

                                </div>
                                @*<div class="row">*@ 
                                    <!-- Country -->
                                    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="country">Country</label>
                                <div class="custom-select">
                                    <select id="country" class='select2'>
                                        <option value="0">Select your country</option>
                                        <option value="1">Bangladesh</option>
                                        <option value="2">Spain</option>
                                        <option value="3">Belgium</option>
                                        <option value="3">Ecuador</option>
                                        <option value="3">Ghana</option>
                                        <option value="3">South Africa</option>
                                        <option value="3">India</option>
                                        <option value="3">Pakistan</option>
                                        <option value="3">Thailand</option>
                                        <option value="3">Malaysia</option>
                                        <option value="3">Italy</option>
                                        <option value="3">Japan</option>
                                        <option value="4">Germany</option>
                                        <option value="5">USA</option>
                                    </select>
                                </div>
                            </div>
                        </div>*@
                                @*</div>*@
                                <div class="row">
                                    <!-- Address -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label asp-for="Address" class="control-label" for="first-name"></label>
                                            <input asp-for="Address" placeholder="آدرس را وارد نمایید" tabindex="5"   id="Address" class="form-control">
                                            <span asp-validation-for="Address" class="text-danger"></span>

                                        </div>
                                    </div>

                                </div>
                                @*<div class="row">*@
                                    <!-- Town / City -->
                                    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" for="town-city">Town / City</label>
                                            <input type="text" id="town-city" class="form-control">

                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="row">*@
                                    <!-- District -->
                                    @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="district">District *</label>
                                <div class="custom-select">
                                    <select id="district" class='select2'>
                                        <option value="0">Select Your District</option>
                                        <option value="1">Dhaka</option>
                                        <option value="2">Rajshahi</option>
                                        <option value="4">Chittagong</option>
                                        <option value="5">GAZIPUR</option>
                                        <option value="6">GOPALGANJ</option>
                                        <option value="7">JAMALPUR</option>
                                        <option value="8">KISHOREGONJ</option>
                                        <option value="9">MADARIPUR</option>
                                        <option value="10">MANIKGANJ</option>
                                        <option value="11">MUNSHIGANJ</option>
                                        <option value="12">MYMENSINGH</option>
                                        <option value="13">NARAYANGANJ</option>
                                        <option value="14">NARSINGDI</option>
                                        <option value="15">NETRAKONA</option>
                                    </select>
                                </div>
                            </div>
                        </div>*@
                                    <!-- Postcode / ZIP -->
                                    @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="postcode">Postcode / ZIP</label>
                                <input type="text" id="postcode" class="form-control">
                            </div>
                        </div>*@
                                @*</div>*@
                                @*<div class="row">*@
                                    <!-- CREAT AN ACCOUNT? -->
                                    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <span><input type="checkbox" name="remember" />CREAT AN ACCOUNT?</span>
                            </div>
                        </div>*@
                                @*</div>*@
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="pLace-order">
                                            <button class="btn btn-lg btn-success" tabindex="6"  type="submit" value="Login">ثبت</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <div class="order-sheet">
                                <h2>Your Order</h2>
                                <ul>
@{ foreach (var item in Model.)
    {

    }}
                                    <li>01. Product Title<span>$59.00</span></li>
                                 </ul>
                                <h3>Subtotal<span>$ 118.00</span></h3>
                                <h3>Total<span>$ 118.00</span></h3>
                            </div>
                        </div>
                    </div>

                </div>*@
                @*<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">*@
                    @*<div class="ship-to-another-area">
                        <h2 class="cart-area-title">SHIP TO A DIFFERENT ADDRESS?<span><input type="checkbox" name="remember" /></span></h2>
                        <label class="control-label">Order Notes</label>
                        <textarea class="form-control" style="min-width: 100%">Notes about your order, e.g. special notes for delivery.</textarea>
                    </div>*@
                @*</div>*@
            </div>
            @*<div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="order-sheet">
                        <h2>Your Order</h2>
                        <ul>
                            <li>01. Product Title<span>$59.00</span></li>
                            <li>02. Product Title<span>$59.00</span></li>
                        </ul>
                        <h3>Subtotal<span>$ 118.00</span></h3>
                        <h3>Total<span>$ 118.00</span></h3>
                    </div>
                </div>
            </div>*@
            @*<div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="payment-option">
                        <div class="form-group">
                            <span><input type="checkbox" name="remember" />DIRECT BANK TRANSFER</span>
                            <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                        </div>
                        <div class="form-group">
                            <span><input type="checkbox" name="remember" />CHECK PAYMENTS</span>
                        </div>
                        <div class="form-group">
                            <span><input type="checkbox" name="remember" />CASH ON DELIVERY</span>
                        </div>
                    </div>
                </div>
            </div>*@
          
        </div>
    </div> </div>
    <!-- Checkout Page Area End Here -->
@section Scripts {
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
 
 
        }
}